1_raw_data/letterboxd/lists/1989.csv
1_raw_data/letterboxd/lists/bc-of-school.csv
1_raw_data/letterboxd/lists/bring-it-on-ranked.csv
1_raw_data/letterboxd/lists/euro-girl-summer.csv
1_raw_data/letterboxd/lists/featuring-an-unexpected-but-well-placed-dance.csv
1_raw_data/letterboxd/lists/first-i-lold-then-i-seriousd.csv
1_raw_data/letterboxd/lists/hunger-games-ranked.csv
1_raw_data/letterboxd/lists/i-watched-this-then-became-obsessed-with.csv
1_raw_data/letterboxd/lists/im-too-embarrassed-to-put-these-in-my-actual.csv
1_raw_data/letterboxd/lists/knives-out-mysteries-ranked.csv
1_raw_data/letterboxd/lists/nicholas-sparks-movies.csv
1_raw_data/letterboxd/lists/philosophy-and-popular-culture.csv
1_raw_data/letterboxd/lists/romance-sickness-cry.csv
1_raw_data/letterboxd/lists/scary-and-sad-in-a-questioning-my-life-way.csv
1_raw_data/letterboxd/lists/spiderman-ranked.csv
1_raw_data/letterboxd/lists/star-wars-ranked.csv
1_raw_data/letterboxd/lists/step-up-ranked.csv
1_raw_data/letterboxd/lists/summer-2024.csv
1_raw_data/letterboxd/lists/summer-2025.csv
1_raw_data/letterboxd/lists/theatre-shows-on-letterboxd.csv
1_raw_data/letterboxd/lists/toronto-ontario-movies.csv
1_raw_data/letterboxd/lists/twilight-ranked.csv
1_raw_data/letterboxd/lists/whats-in-my-top-4.csv
1_raw_data/letterboxd/orphaned/reviews.csv
1_raw_data/letterboxd/orphaned/diary.csv
1_raw_data/letterboxd/orphaned/comments.csv
.DS_Store
.DS_Store
.DS_Store
1_raw_data/letterboxd/likes/lists.csv
1_raw_data/letterboxd/likes/reviews.csv
